* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif; background-color: #4d4d4d;}
h1{color: #dbdbdb}
p{color: #bfbfbf}
h4{color: #ffffff; text-align: center;}

.container mt-5{
  background-color: dimgrey;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

