* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
h1{color: #dbdbdb}
p{color: #bfbfbf}
h4{color: #ffffff; text-align: center;}

.body{
  background-color: #4d4d4d;
  height: auto;
  width: 84%;
}

/* HEADER */
.header {
  background-color: #8f8f8f;
  width: 84%;
  height: 140px;
  margin: auto;
  margin-top: 5px;
}

.header p{
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.header h1{
  margin-top: auto;
  text-align: center;
  font-size: 50px;
}

/* WRAPPER */
.wrapper {
  background-color: white;
  overflow: hidden;
  width: 84%;
  margin: auto;
}

/* SIDEBAR */
.sidebar {
  width: 20%;
  height: 450px;
  position: relative;
  background: rgb(43, 43, 43);
  overflow-x: hidden;
  padding: 8px 0;
  float:left;

  /*display: flex;*/
}

.sidebar li{
  margin-left: 10px;
  color: #ffffff;
}

.sidebar h4{
  color: darkgrey;
}

.sidebar h1{
  text-align: center;
  color: #ffffff;
}

/* CONTENT */
.content {
  width: calc(84%-20%);
  height: 450px;
  float: center;
}

div {
  background-color: #4d4d4d;
}

.container mt-5{
  background-color: #b3b3b3;
}

.container mt-5 .row mt-5 .col .card .card-body .card-title h3{
  color: white;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 70px;
  margin: auto;
  margin-top: 15px;
}

.main{
  float: left; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}